.config/fish/fish_history
update-notifier-bower.yml
insight-bower.yml

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
mac/.emacs.d/elpa/
mac/.emacs.d/yasnippets
.emacs.d.bk
mac/.emacs.d/ac-comphist.dat

# recent files
mac/.emacs.d/recentf

# semantic db
mac/.emacs.d/semanticdb/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
