[user]
    name = David Wickes
    email = dave.wickes@gmail.com

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    puhs = push
    pshu = push
    psuh = push
    catchup = !git fetch upstream && git merge upstream/master master

[push]
    default = current

[core]
    autocrlf = input
    safecrlf = false
    excludesfile = /Users/davidwic/.gitignore_global
    editor = "vim -f"
    ignorecase = false

[color]
    ui = auto

[init]
    templatedir = ~/.git-templates

[merge]
	tool = fugitive

[mergetool "splice"]
    cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
    trustExitCode = true

[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
